<div class="body_background">
    <h1>Listado de productos en tiempo real</h1>
    <div id="productsList" class="grid">
        <!--En este espacio se agregan los productos en tiempo real-->
    </div>
</div>
<!-- Script de sweetalert -->
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js'></script>
<!-- Incluimos el script de Socket.IO -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>