<section class=".loginBody">
    <div class="d-flex justify-content-center align-item-center vw-100 vh-100 position-relative">
        <img src="https://img.freepik.com/vector-gratis/descuentos-venta-temporada-presenta-compra-visita-boutiques-compras-lujo-cupones-promocionales-reduccion-precio-ofertas-especiales-vacaciones-ilustracion-metafora-concepto-aislado-vector_335657-2766.jpg?w=826&t=st=1686853522~exp=1686854122~hmac=18b5344c831950a0e37325f79a8ffca62ec7576deb7454608f6abe542acf16bd" alt="" class="img-fluid">
        <form class="position-absolute top-50 start-50 translate-middle bg-dark text-white rounded w-25 h-50 p-3" action='/api/users/restorepass' method='post'>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control form-control-sm text-light form-control bg-dark-x border-0 inputPlaceholder" id="restorePassInputEmail" aria-describedby="emailHelp" placeholder="Ingresa tu email" name="email">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">New Password</label>
                <input type="password" class="form-control form-control-sm text-light form-control bg-dark-x border-0 inputPlaceholder" id="restorePassInputPass"placeholder="Ingresa tu nueva contraseña" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Restablecer</button>

        </form>
    </div>
</section>
<script src="/js/login.js"></script>