h1 {
	color: brown;
	text-align: center;
}

h2 {
	color: black;

	font-size: 1rem;
}

body {
	background-color: rgb(206, 206, 206);
}

.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (minmax(12rem, 1fr)) [auto-fill];
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	grid-gap: 2.5rem 2.5rem;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
	width: 100%;
}

.card {
	height: 374px;
	padding: 0.5rem;
	background-color: white;
	border-radius: 1rem;
}
